---
layout: default
title: Roman Martyrology
---

<h3>Today on the calendar:</h3>

<p>
<SCRIPT LANGUAGE=Javascript>
<!--
/*
 Java Script Calendar is a small script for web pages which displays current Day of the week, Month, Date and Year along with Holidays notification. Just like this working demo below. It will work with Netscape 2++, Microsoft 3++ and Opera 3++ web browsers.
Java Script Calendar is free without any limitations. Copyright © Eugene Vassiltsov. But please, let me know if you will use it.
*/

 calendar = new Date();
 day = calendar.getDay();
 month = calendar.getMonth();
 date = calendar.getDate();
 year = calendar.getYear();
 if (year < 1000)
 year+=1900
 cent = parseInt(year/100);
 g = year % 19;
 k = parseInt((cent - 17)/25);
 i = (cent - parseInt(cent/4) - parseInt((cent - k)/3) + 19*g + 15) % 30;
 i = i - parseInt(i/28)*(1 - parseInt(i/28)*parseInt(29/(i+1))*parseInt((21-g)/11));
 j = (year + parseInt(year/4) + i + 2 - cent + parseInt(cent/4)) % 7;
 l = i - j;
 emonth = 3 + parseInt((l + 40)/44);
 edate = l + 28 - 31*parseInt((emonth/4));
 emonth--;
 var dayname = new Array ("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday");
 var monthname = 
 new Array ("January","February","March","April","May","June","July","August","September","October","November","December" );
 document.write("");
 document.write(dayname[day] + ", ");
 document.write(monthname[month] + " ");
 if (date< 10) document.write("0" + date + ", ");
         else document.write(date + ", ");
 document.write(year + "    ");
 var martyrfilename = "martyr/";
 var monthplusone = month + 1;
 if (monthplusone< 10) martyrfilename = martyrfilename + "0" + monthplusone;
         else martyrfilename = martyrfilename + monthplusone;
 if (date< 10) martyrfilename = martyrfilename + "0" + date;
         else martyrfilename = martyrfilename + date;
 martyrfilename = martyrfilename + ".txt"
// document.write(martyrfilename);
 // Easter
 if ((month == emonth) && (date == edate)) document.write("Easter Sunday (Western)   ");
 // January
 // February
 // March
 // April
 // May
 // June
 // July
 // August
 // October
 // November
 // December
 document.write("<br />");
//-->
</SCRIPT> 
</p>

<div id="myDiv" style="font-size: 1.2rem; line-height: 1.8">today's entry goes here</div>

<script>
function loadXMLDoc()
{
var xmlhttp;
mycalendar = new Date();
mymonth = calendar.getMonth()+1;
date = calendar.getDate();
 var martyrfilename = "martyr/";
 var monthplusone = month + 1;
 if (monthplusone< 10) martyrfilename = martyrfilename + "0" + monthplusone;
         else martyrfilename = martyrfilename + monthplusone;
 if (date< 10) martyrfilename = martyrfilename + "0" + date;
         else martyrfilename = martyrfilename + date;
 martyrfilename = martyrfilename + ".txt"
if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
xmlhttp.onreadystatechange=function()
  {
  if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {
    document.getElementById("myDiv").innerHTML=xmlhttp.responseText;
    }
  }
xmlhttp.open("GET",martyrfilename,true);
xmlhttp.send();
}
window.onload=loadXMLDoc();
</script>



<p></p>


<p>
And elsewhere many other holy martyrs, confessors and holy virgins.
</p>
<p>
Thanks be to God.
</p>
<p>
Precious in the sight of the Lord</p>
<p>is the death of His Saints.</p>

<ul>
<li>January
{% for martyrs in site.martyrs %}
{% if martyrs.month == "January" %}
<a href="{{ martyrs.url }}">{{ martyrs.day }}</a> | {% endif %}
{% endfor %}</li>
<li>February
{% for martyrs in site.martyrs %}
{% if martyrs.month == "February" %}
<a href="{{ martyrs.url }}">{{ martyrs.day }}</a> | {% endif %}
{% endfor %}</li>
<li>March
{% for martyrs in site.martyrs %}
{% if martyrs.month == "March" %}
<a href="{{ martyrs.url }}">{{ martyrs.day }}</a> | {% endif %}
{% endfor %}</li>
<li>April
{% for martyrs in site.martyrs %}
{% if martyrs.month == "April" %}
<a href="{{ martyrs.url }}">{{ martyrs.day }}</a> | {% endif %}
{% endfor %}</li>
<li>May
{% for martyrs in site.martyrs %}
{% if martyrs.month == "May" %}
<a href="{{ martyrs.url }}">{{ martyrs.day }}</a> | {% endif %}
{% endfor %}</li>
<li>June
{% for martyrs in site.martyrs %}
{% if martyrs.month == "June" %}
<a href="{{ martyrs.url }}">{{ martyrs.day }}</a> | {% endif %}
{% endfor %}</li>
<li>July
{% for martyrs in site.martyrs %}
{% if martyrs.month == "July" %}
<a href="{{ martyrs.url }}">{{ martyrs.day }}</a> | {% endif %}
{% endfor %}</li>
<li>August
{% for martyrs in site.martyrs %}
{% if martyrs.month == "August" %}
<a href="{{ martyrs.url }}">{{ martyrs.day }}</a> | {% endif %}
{% endfor %}</li>
</ul>

