---
layout: default
---

<h1>{{ page.day | plus:'0' }} {{ page.month }}</h1>

{% if page.txtdoc %}
<p>
{% include /martyr/{{ page.txtdoc }} %}
</p>
<p>And elsewhere many other holy martyrs, confessors and holy virgins.</p>
<p>Thanks be to God.</p>
<p>
<a href="http://github.com/veromary/roman-martyrology/edit/gh-pages/_includes/martyr/{{ page.txtdoc }}">Help fix typos, scannos, oddos</a>
</p>
{% else %}
{{ content }}
{% endif %}


     {% if page.collection %}
        {% assign collection = site[page.collection] %}
        {% assign prev = collection | last %}
        {% assign next = collection | first %}
            {% for item in collection %}
               {% if item.title == page.title %}
                 {% unless forloop.first %}
                   {% assign prev = iterator %}
                 {% endunless %}

                 {% unless forloop.last %}
                      {% assign next = collection[forloop.index] %}
                 {% endunless %}
               {% endif %}

                    {% assign iterator = item %}
            {% endfor %}
     {% endif %}

<div class="pagination clearfix mb1 mt4">
  <div class="left">
    {% if prev %}
       <a class="pagination-item" href="{{site.url }}{{ prev.url }}">Previous: {{ prev.title }}</a>
    {% else %}
      <span class="pagination-item disabled">Previous</span>
    {% endif %}
  </div>
  <div class="right">
    {% if next %}
      <a class="pagination-item" href="{{site.url }}{{ next.url }}">Next: {{ next.title }}</a>
    {% else %}
      <span class="pagination-item disabled">Next</span>
    {% endif %}
  </div>
</div>

